*
{
    margin: 0;
    padding: 0;
}
header
{
    background-image: url(../IMG/wp1730118.jpg);
    height:11vh;
    background-size: cover;
    background-position: center;
	position:static;
}
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li {
    display: inline-block;
}
.main-nav li a {
    color: red;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    margin-right: 39px;
	background-color:rgba(0,0,0,0.6);
}
.main-nav li.active a
{
    border: 5px solid brown;
}
.main-nav li a:hover
{
    border: 3px solid brown;
	text-shadow: 0 0 5px pink; 
}
.logo img {
    width: 150px;
    height: auto;
    float: left;
    margin-left: 40px;
	margin-top: 1%;
	transition: all 7s ease-in-out;

}
.logo img:hover {

	transform: rotateY(150deg);

}
.titulo {
    margin-top: 0px;
    margin-left: 0px;
	padding-left:5%;
    width: 10%;
	float: left;
}
.titulo h1:hover {
	text-shadow: 0 0 5px pink; 
}
h1 {
    color: red;
    margin-top: 25px;
    font-size: 3em;
}
.toggle-nav {
	display:none;
}

.content a {
		color:red;
		padding-top:10%;
		border-color:red;
		font-size:2em;
		float:left;
		margin:5%;
		padding:5%;
		background-color:rgba(44,26,15,0.7);
		border-radius: 25px;
		width:80%;
}
.content {
		float:center;
		background-image: url(../IMG/ndred.png);
}
.imagenes {
	float:center;
	background-image: url(../IMG/ndred.png);
}
.imagenes img {
	padding-top:10%;
		border-color:red;
		font-size:2em;
		float:left;
		margin-bottom:1%;
		margin-top:1%;
		margin-left:5%;
		margin-right:5%;
		padding:5%;
		background-color:rgba(255,0,0,0.4);
		border-radius: 25px;
		width:80%;
}
.imagenescrema img {
	padding-top:10%;
		border-color:red;
		font-size:2em;
		float:left;
		margin-bottom:1%;
		margin-top:1%;
		margin-left:5%;
		margin-right:5%;
		padding:5%;
		background-color:rgba(44,26,15,0.4);
		border-radius: 25px;
		width:80%;
}
.row {
		width:100%;

		background-image: url(../IMG/ndred.png);
		padding:4;
		
}
.row a{
	color:red;
	border-color:red;
	font-size:2em;
	float:center;
	width:90%;	
	height:20px;
	padding-left:5%;
	padding-right:5%;
	background-color:rgba(44,26,15,0.7);
}
article
{
    background-image: url(../IMG/ndred.png);
    height:90vh;
    background-size: cover;
    background-position: center;
}
h1.titulobig {
	color:red;
	background-color:rgba(44,26,15,0.5);
	padding-left:10px;
	border-radius:20px;
}
.titulobig:hover {
	text-shadow: 0 0 5px pink; 
}
.video {
	
		padding-top:10%;
		border-color:red;
		font-size:2em;
		float:left;
		margin-bottom:1%;
		margin-top:1%;
		margin-left:5%;
		margin-right:5%;
		padding:5%;
		background-color:rgba(44,26,15,0.4);
		border-radius: 25px;
		width:80%;
}
